$main: #333;
$gray: #858585;
$gray2: #f7f7f7;
$gray3: #f2f1f0; //в попапе для фильтров
$black: #000;
$white: #fff;
$yellow: #ffd93e; //активная кнопка
$yellow-active: #ffcd00; //активная кнопка при наведении