.icon__scheduled {
  background-image: url("./img/icon_scheduled.svg");
}

.icon__temperature {
  background-image: url("./img/icon_temperature.svg");

  &.icon__temperature_active {
    background-image: url("./img/icon_temperature_active.svg");
  }
}

.icon__sun {
  background-image: url("./img/icon_sun.svg");

  &.icon__sun_active {
    background-image: url("./img/icon_sun_active.svg");
  }

  &.icon__sun_min {
    background-image: url("./img/icon_sun_min.svg");
  }

  &.icon__sun_max {
    background-image: url("./img/icon_sun_max.svg");
  }
}