@import "colors";

%text-main {
  font-weight: bold;
  color: $main;
}

.text_main_14 {
  @extend %text-main;
  font-size: 14px;
}

.text_main_16 {
  @extend %text-main;
  font-size: 16px;
}

.text_main_18 {
  @extend %text-main;
  font-size: 18px;
}

.text_main_27 {
  @extend %text-main;
  font-size: 27px;
}

.text_main_36 {
  @extend %text-main;
  font-size: 36px;
}

.text_main_66 {
  @extend %text-main;
  font-size: 66px;
}

.text_second {
  font-size: 12px;
  color: $gray;
}

.text_second_14 {
  font-size: 14px;
  color: $gray;
}