$fonts: Arial, Helvetica Neue, Helvetica, sans-serif;
$template-padding: 40px;
$template-padding-mobile: 20px;
$mobile-width: 425px;
$border-radius: 20px;
$box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);