@import "../core/colors";
@import "../core/variables";

.button {
  flex-shrink: 0;
  background-color: $white;
  border-radius: $border-radius;

  cursor: pointer;

  text-align: center;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.button:hover {
  box-shadow: $box-shadow;
}

.button_active {
  background-color: $yellow !important;
}

.button_active:hover {
  background-color: $yellow-active !important;
}

@import "button_filter";