%card-icon {
  flex-grow: 1;
  background: no-repeat top left;
}

.card__icon_sun {
  @extend %card-icon;
  background-image: url("./img/icon_sun.svg");
}

.card__icon_sun_active {
  @extend %card-icon;
  background-image: url("./img/icon_sun_active.svg");
}

.card__icon_temperature {
  @extend %card-icon;
  background-image: url("./img/icon_temperature.svg");
}

.card__icon_temperature_active {
  @extend %card-icon;
  background-image: url("./img/icon_temperature_active.svg");
}

.card__icon_scheduled {
  @extend %card-icon;
  background-image: url("./img/icon_scheduled.svg");
}