<div class="popup__wrapper" id="popupTemp">
    <div class="popup">
        <div class="popup__main">
            <div class="popup__main__header">
                <div class="popup__main__header__texts">
                    <div class="text_main_27 popup__main__header__texts__name">Elgato Eve Degree Connected</div>
                    <div class="text_main_14 popup__main__header__texts__status">Включено</div>
                </div>
                <div class="text_main_36 popup__main__header__temperature">+23</div>
                <div class="popup__main__header__icon icon__temperature icon__temperature_active"></div>
            </div>
            <div class="popup__main__content">
                <div class="popup__main__content__filters">
                    <div class="button button_filter button_popup_main_content_filter button_active">Вручную</div>
                    <div class="button button_filter button_popup_main_content_filter">Холодно</div>
                    <div class="button button_filter button_popup_main_content_filter">Тепло</div>
                    <div class="button button_filter button_popup_main_content_filter">Жарко</div>
                </div>
                <!--/Slider-->
                <div class="slider slider_temperature">
                    <div class="text_main_18 slider__temperature__text">-10</div>
                    <div class="text_main_18 slider__temperature__text">+30</div>
                    <div class="slider__value"></div>
                </div>
                <!--/Slider-->
            </div>
        </div>
        <div class="popup__footer">
            <div class="text_main_18 button button__popup_footer button__popup_footer_active button_active"
                 onclick="togglePopup()">Применить
            </div>
            <div class="text_main_18 button button__popup_footer" onclick="togglePopup()">Закрыть</div>
        </div>
    </div>
</div>
<div class="popup__wrapper" id="popupSun">
    <div class="popup">
        <div class="popup__main">
            <div class="popup__main__header">
                <div class="popup__main__header__texts">
                    <div class="text_main_27 popup__main__header__texts__name">Xiaomi Yeelight LED Smart Bulb</div>
                    <div class="text_main_14 popup__main__header__texts__status">Включится в 17:00</div>
                </div>
                <div class="popup__main__header__icon icon__sun icon__sun_active"></div>
            </div>
            <div class="popup__main__content">
                <div class="popup__main__content__filters">
                    <div class="button button_filter button_popup_main_content_filter button_active">Вручную</div>
                    <div class="button button_filter button_popup_main_content_filter">Дневной свет</div>
                    <div class="button button_filter button_popup_main_content_filter">Вечерний свет</div>
                    <div class="button button_filter button_popup_main_content_filter">Рассвет</div>
                </div>
                <!--Slider-->
                <div class="slider slider_sun">
                    <div class="icon__sun icon__sun_min icon__sun_slider"></div>
                    <div class="icon__sun icon__sun_max icon__sun_slider"></div>
                    <div class="slider__value"></div>
                </div>
                <!--/Slider-->
            </div>
        </div>
        <div class="popup__footer">
            <div class="text_main_18 button button__popup_footer button__popup_footer_active button_active"
                 onclick="togglePopup()">Применить
            </div>
            <div class="text_main_18 button button__popup_footer" onclick="togglePopup()">Закрыть</div>
        </div>
    </div>
</div>
<div class="popup__wrapper" id="popupThermostat">
    <div class="popup">
        <div class="popup__main">
            <div class="popup__main__header">
                <div class="popup__main__header__texts">
                    <div class="text_main_27 popup__main__header__texts__name">Xiaomi Warm Floor</div>
                    <div class="text_main_14 popup__main__header__texts__status">Включено</div>
                </div>
                <div class="text_main_36 popup__main__header__temperature">+17</div>
                <div class="popup__main__header__icon icon__temperature icon__temperature_active"></div>
            </div>
            <div class="popup__main__content">
                <!--Thermostat-->
                <div class="thermostat thermostat_center" id="thermostat">
                    <svg width="100%" height="100%">
                        <g fill="none" stroke-width="24" stroke-dasharray="1 4">
                            <path id="thermostatYellow" stroke="#F5A623"
                                  d="M 162 198.60254037844385 A 100 100 0 1 0 61.99999999999996 198.60254037844385"></path>
                            <path id="thermostatGrey" stroke="#333333"
                                  d="M 162 198.60254037844385 A 100 100 0 0 0 207.30426858057672 142.2835993620524"></path>
                        </g>
                    </svg>
                    <div class="thermostat__regulator">
                        <div id='thermostatTemp' class="text_main_66">+17</div>
                    </div>
                    <div id="thermostatArrow" class="thermostat__arrow" style="transform: rotate(108deg);"></div>
                </div>
                <!--/Thermostat-->
            </div>
        </div>
        <div class="popup__footer">
            <div class="text_main_18 button button__popup_footer button__popup_footer_active button_active"
                 onclick="togglePopup()">Применить
            </div>
            <div class="text_main_18 button button__popup_footer" onclick="togglePopup()">Закрыть</div>
        </div>
    </div>
</div>