@import "../../../core/variables";

@media all and (max-width: $mobile-width) {
  .block__header_devices {
    margin-top: 24px;
    margin-bottom: 17px;
  }

  .block__devices__content {
    margin-left: -$template-padding-mobile;
    margin-right: -$template-padding-mobile;
  }

  .button_block_devices {
    display: none;
  }

  .button_block_devices_mobile {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 0 !important;
  }

  .block__devices__hide__scroll::before {
    min-width: $template-padding-mobile;
  }

  .block__devices__hide__scroll::after {
    min-width: $template-padding-mobile - 15px;
  }

  .block__devices__arrows {
    display: none !important;
  }
}