.block__scenarios {
  flex-grow: 1;
  margin-left: 26px;
  //display: flex;
  //flex-direction: column;
}

.block__scenarios__content {
  //flex-grow: 1;

  height: 335px; //3 ряда по 100 с отсупом 15 и 5 запас для тени
  overflow: hidden;
  position: relative;
  margin-bottom: -5px; //для тени при наведии на карточку
}

.block__scenarios__hide__scroll {
  display: flex;
  flex-wrap: wrap;

  transition: transform 1s;

  margin-right: -15px;
  margin-bottom: -15px;
}

@import "block__scenarios_mobile";